body {
    background: rgb(65, 63, 63);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    background: yellow;
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    background-color: yellow;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}

li:hover {
    background-color: red;
}

li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
}

footer {
    background: black;
    padding: 10px 20px;
}

.feature-box {
    display: flex;
}

.feature-box div {
    margin: 1px;
    width: 100%;
}

.feature-box.up div {
    background: gray;
}

.feature-box.down div {
    background: red;
}